.foto_cabecera {
  width: 200px;
}
#interespacio_fotos {
  display:block;
}
.foto_M_Eugenia {
  width: 100px;
}
.foto_Cristina {
  width: 100px;
}
.felix {
  width: 100px;
}
.ivan {
  width: 100px;
}
